<p-toolbar styleClass="app-toolbar">
  <ng-template #start>
    <i class="fa-solid fa-leaf brand-icon"></i>
    <span class="brand-name">AgriSmart</span>
  </ng-template>
  <ng-template #end>
    <a routerLink="/objectifs" routerLinkActive="active-link" class="nav-link">
      <i class="fa-solid fa-flag"></i> Objectifs
    </a>
    <a routerLink="/evenements" routerLinkActive="active-link" class="nav-link">
      <i class="fa-solid fa-calendar"></i> Événements
    </a>
    <a routerLink="/defis" routerLinkActive="active-link" class="nav-link">
      <i class="fa-solid fa-triangle-exclamation"></i> Défis
    </a>
  </ng-template>
</p-toolbar>