<mat-toolbar color="primary" class="app-toolbar">
    <mat-icon class="brand-icon">eco</mat-icon>
    <span class="brand-name">AgriSmart</span>
    <span class="spacer"></span>
    <a mat-button routerLink="/objectifs" routerLinkActive="active-link">
        <mat-icon>flag</mat-icon> Objectifs
    </a>
    <a mat-button routerLink="/evenements" routerLinkActive="active-link">
        <mat-icon>event</mat-icon> Événements
    </a>
    <a mat-button routerLink="/defis" routerLinkActive="active-link">
        <mat-icon>warning</mat-icon> Défis
    </a>
</mat-toolbar>