<div class="page-container">
  @if (showAddDefiPage) {
    <div class="page-header">
      <h1 class="page-title">
        Ajouter un nouveau Défi ou Obstacle
      </h1>
    </div>
    <div class="defi-form">
      <mat-form-field>
        <mat-label>Titre</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="date-defi">
        <mat-label>Choisir une date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Solution Appliquée</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Résultat</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
    <div style="display: flex; justify-content: space-between">
      <button (click)="this.showDefiList()">Retour</button>
      <button>Ajouter</button>
    </div>
  } @else {
    <div class="page-header">
      <h1 class="page-title">
        Défis &amp; Obstacles
      </h1>
      <button (click)="this.showAddDefiForm()">Ajouter Défi</button>
    </div>
    <mat-accordion>
      @for (defi of defis; track defi.id) {
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> {{ defi.titre }}</mat-panel-title>
            <mat-panel-description> {{ defi.date }}</mat-panel-description>
          </mat-expansion-panel-header>
          <p>{{ defi.description }}</p>
          <p>{{ defi.solutionAppliquee }}</p>
        </mat-expansion-panel>
      }
    </mat-accordion>
  }

</div>
